<div class="wizard-window wizard-columns">
  <div class="wizard-column">
    <div class="wizard-step">
      <h2 class="wizard-step-title">Define Your App's Requirements</h2>
      <p class="wizard-step-description">
        In the App Wizard, requirements come in three forms:
      </p>
      <ol>
        <li>
          <strong>Information</strong>Think about this question from the
          perspective of someone using your app: <em>what do I need to know?</em>
        </li>
        <li>
          <strong>Data interactions</strong>These will be in the form, "I need to
          [verb] [data]". For example, "I need to see a list of items", or "I need
          to search from my list of items."
        </li>
        <li>
          <strong>Navigation</strong>Once you've added some different views in
          your app, you can create navigation flows between them.
        </li>
      </ol>
    </div>
  </div>
  <div class="wizard-column"></div>
  <div class="wizard-column"></div>
  <div class="wizard-column"></div>
</div>
